* {
    margin: 0;
    padding: 0;
}

header {
    min-height: 140px;

    background-color: cornflowerblue;
}

#brand-name {

    display: inline-block;

}

#navigation {

    display: inline-block;

}

#navigation li {

    display: inline-block;
    
}


#navigation li a {

    margin: 5px;
    padding: 5px 20px;

    color: white;
    border: 1px solid white;
    border-radius: 7px;
    
    text-decoration: none;
}

#navigation li a:hover {
    
    background-color: rgb(128, 166, 236);
}
